---
title: Events
longTitle: Events
description: Supporting the local community by performing<br/>throughout the year at many different venues
layout: default
permalink: /events/
---

	<section>

    {% assign lastBuild = site.time | date:"%s" %}
{% assign events = site.data.events %}
    {% for event in events %}
    {% assign eventTime = event.date | date:"%s" %}
  
    {% if eventTime >= lastBuild %}
      {% assign count_events = count_events | plus: 1 %}
    {% endif %}
    {% endfor %}

    {% if count_events > 0 %}


                  <div class="table-wrapper">
                  <table>
                    <thead>
                      <tr>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Location</td>
                      </tr>
                    </thead>

                    {% for event in events %}
                    {% assign eventTime = event.date | date:"%s" %}
                  
                    {% if eventTime >= lastBuild %}
                    <tr>
                      <td>{{ event.date | date: "%A %e %B %Y" }}</td>
                      <td>{{ event.starttime }} - {{ event.endtime }}</td>
                      <td>{{ event.venue }}, {{ event.town }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                    </table>

                    {% else %}

                    <p>We are currently sorting out our bookings for the next season. Please <a href="/contact">get in touch</a> if you would like the band to play at your event.</p>

                    {% endif %}

                  



									<hr />

									<a href="/contact" class="button special fit">Contact us for more information</a>

								</section>
